.body {
  background-color: #f2f2f2;
  flex: 1;
  max-width: calc(100vw - 63px);
  padding: 26px;
  overflow-y: scroll;

  .table__container {
    // overflow-x: scroll;
  }

  &.full-sidebar {
    max-width: calc(100vw - 258px);
  }
}
