.burger{
    cursor: pointer;
    width: 17px;
    height: 16px;
    display: flex;
    justify-content: center;
    align-items: center;

    
    .burger__content{

        width: 17px;
        height: 2px;
        border-radius: 2px;
        background-color: #C4C4C4;
        position: relative;
    
    
        &::after,&::before{
            position: absolute;
            content: "";
            width: 17px;
            height: 2px;
            background-color: #C4C4C4;
            border-radius: 2px;
            right: 0;
        }
    
        &::after{
            top: 5px;
        }
    
        &::before{
            bottom: 5px;
        }
    }

}
