.column-toggle {
  position: relative;
  i {
    color: #dcdcdc;
    font-size: 15px;
    cursor: pointer;
  }

  .column-dd {
    position: absolute;
    top: -18px;
    left: 6px;
    z-index: 300;
    width: 162px;
    display: flex;

    li {
      font-size: 11px;
      color: #313131;

      &:first-child {
        color: #989797;
        margin: 5px 0;
      }
    }
  }
}
